/* GENERAL SETTINGS */

@font-face {
    font-family:'Raleway' ;
    src: url('../fonts/Raleway-Regular.ttf');
}

body{
    background-color: #ffffff;
    color: #3f3f3f;
    font-size: 14px;
    line-height: 28px;
    font-family:'Raleway',Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 52px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

h3 {
    font-size: 16px;
    color: #393939;
    font-weight: bold;
    transition: all .5s ease;
}

.section-header {
    background: linear-gradient(180deg, #F6EBEC 0%, #FCC9CE 100%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    height: 60px;
    color: #393939;
    display: inline-block;
    line-height: 60px;
    font-size: 24px;
    padding: 5px 40px; 
    letter-spacing: 2px;
    margin-bottom: 20px;
}



/* GRID SETTINGS */

.container{
  width: 90%;
  margin: 0 auto; /* ortalansın diye */
  display: flex; 
}


.features-body .container {
    justify-content: space-between;

}

.col-3 {
    flex-grow: 1;
    width: 33.33%;
   
}

.section-area {
  padding: 80px 0;
}

.engine-body .container {
    justify-content: space-between;
}

.col-2 {
    flex-grow: 1;
    width: 50%;
    padding: 20px;
}


/* HOME SETTINGS */

header .logo{
    margin-right: auto;
    display: flex;
}

header .logo img {
    display: block;
    height: 70px;
}

.menu li {
    float: left;
}

.menu li a{
    padding: 27px 17px;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #333;
    transition: all .5s ease;;
}

.menu li a:last-child {
    padding-right: 0;
}

.menu li:hover a{
    background-color:#FCC9CE ;
    color: #fff;
}

#main-slider {
    height: 500px;
    background: url('../img/mainSlider7.jpg')center center no-repeat;
    background-size: cover;
}

.slider {
  width: 100%;
}

#main-caption {
    height: 500px;
    background: rgba(0 0 0 / 25%);
}

.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
}

.features-top {
    text-align: center;
}

.item-class {
 padding: 10px 20px;
}

.zoom{
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.zoom img {
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s ease;
}

.item-class .item-text {
   text-align: center;
   padding: 5px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.item-class:hover .zoom img {
    transform: scale(1.25);
}

.item-class:hover h3 {
    color: #eca1a9;
}

.item-class:hover .item-text {
    color: #eca1a9;
    font-weight: bold;
    background-color:#f8f2f3;
    transition: all .5s ease;
}

.btnDetails {
    background-color:#FCC9CE;
    color: #3f3f3f;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #3f3f3f;
    
}

.item-class:hover .btnDetails {
    border-radius: 25px;

}

#parallax {
    background: linear-gradient( rgba(0,0,0,.7), rgb(221 167 167 / 70%) ), url(../img/parallax.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#parallax p {
    color: #fff;
}

.engine-top {
    text-align: center;
}

.engine-container {
    position: relative;
    width: 100%;
}

.image-over {
    display: block;
    width: 100%;
    height: auto;
}

.engine-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(45 44 44 / 70%);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.engine-container:hover .engine-overlay {
    width: 100%;
}

.engine-text {
    white-space: nowrap;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: (-50%,-50%);
}

.engine-overlay2 {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgb(45 44 44 / 70%);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.engine-container:hover .engine-overlay2 {
    width: 100%;
    left: 0;
}

h2.logo-text {
    margin-top: 8%;
    margin-left: 10px;
    font-weight: bolder;
    letter-spacing: 5px;
    color: #e79fa6;
}

.parallax-btn {
    line-height: 50px;
    border: none;
    color: #393939;
    background: linear-gradient(180deg, #F6EBEC 0%, #FCC9CE 100%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    height: 60px;
    font-size: 24px;
    padding: 5px 40px; 
    letter-spacing: 2px;
    margin-bottom: 20px;
    cursor: pointer;
}